Flask==1.1.2
Flask-JWT-Extended==3.25.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonify==0.5
SQLAlchemy==1.4.15
Werkzeug==0.15.6
