<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% if "username" in user%}

    <style>
    .logo-image{
    width: 50px;
    height: 38px;
    border-radius: 80%;
    overflow: hidden;
    margin-top: -0px;
}   </style>

    <!--

          <div class="logo-image">
            <img src={{user['avatar']}} class="img-fluid">
      </div>

      -->
    <a href="/user-profile">
    <input type="image" src={{user['avatar']}} height="50px" width="60px" />
      </a>





    {% else %}
    <a class="navbar-brand" href="/">SmileCook</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        {% if "email" in user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={{url_for('views.recipes')}}>Recipes</a>
          </li>

          <li>
            <a class="nav-link active" aria-current="page" href={{url_for('auth.logout')}}>Logout</a>
          </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('views.contact')}}">Contact</a>
         </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('auth.login')}}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('auth.sign_up')}}">Sign Up</a>
        </li>

        {% endif %}
      </ul>
      </form>
    </div>
  </div>
</nav>